// Google Fonts
@import url('https://fonts.google.com/specimen/Roboto');
// Font
$fontFamily: "Roboto", serif;
// Typography
$WeightFor: 400;
$WeightSeven: 700;

// Colors
//  Primary
$Orange: hsl(26, 100%, 55%);
$paleOrange: hsl(25, 100%, 94%);

// Neutral

$veryVarkBlue: hsl(220, 13%, 13%);
$darkGrayishBlue: hsl(219, 9%, 45%);
$grayishBlue: hsl(220, 14%, 75%);
$lightGrayishBlue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: hsla(0, 0%, 0%, 0.253); // (with 75% opacity for lightbox background)

// Font size (paragraph): 16px
p {
    font-size: 16px;
}

body {
    max-width: 1400px;
    background-color: $White;
    font-family: $fontFamily;
    font-weight: $WeightFor;
}

ul li{
    list-style: none;
    display: inline-block;
}


title{
    font-weight: $WeightSeven;
}





// <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
